@{
    ViewBag.Title = "SubmittedMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Message Sent!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Message has been sent to worker role via a custom HTTP endpoint</h3>
<ol class="round">
</ol>
